## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns=['EIN', 'NAME'])
print(application_df)

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 10 columns]

In [3]:
# Determine the number of unique values in each column.

unique_values_per_column = application_df.nunique()
print(unique_values_per_column)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_value_count = application_df['APPLICATION_TYPE'].value_counts()
app_value_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = app_value_count[app_value_count<800].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_value_count = application_df['CLASSIFICATION'].value_counts()
class_value_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_value_count[class_value_count>100]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = class_value_count[class_value_count<700].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dummies_df = pd.get_dummies(application_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
dummies_df = dummies_df.drop(["APPLICATION_TYPE_T3","USE_CASE_ProductDev","AFFILIATION_CompanySponsored","ORGANIZATION_Association"],axis=1)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_Family/Parent,AFFILIATION_Independent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = dummies_df["IS_SUCCESSFUL"].values
X = dummies_df.drop("IS_SUCCESSFUL",axis=1).values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
len(X_train_scaled[0])

37

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = len(X_train_scaled[0])
hidden_layer_1 = 80
hidden_layer_2 =40
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_layer_1, activation="relu", input_dim=input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_layer_2, activation="relu"))


# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3040

 dense_1 (Dense)             (None, 40)                3240

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 6321 (24.69 KB)
Trainable params: 6321 (24.69 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
# from keras.callbacks import Callback
# import os

# class WeightsSaver(Callback):

#     def __init__(self, weights_path, every_n_epochs=5):
#         self.weights_path = weights_path
#         self.every_n_epochs = every_n_epochs

#     def on_epoch_end(self, epoch, logs=None):
#         if (epoch + 1) % self.every_n_epochs == 0:
#             self.model.save_weights(os.path.join(self.weights_path, 'weights_{}.h5'.format(epoch)))

# weights_path = ''
# saver = WeightsSaver(weights_path, every_n_epochs=5)

# model.fit(X_train, y_train, callbacks=[saver])

In [16]:
model_checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = "",
    save_freq=5
   )

In [17]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)#, callbacks=[model_checkpoint_callback] )

Epoch 1/50
804/804 [==============================] - 10s 4ms/step - loss: 0.5757 - accuracy: 0.7154
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5577 - accuracy: 0.7278
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5546 - accuracy: 0.7318
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5524 - accuracy: 0.7313
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5516 - accuracy: 0.7312
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5503 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5498 - accuracy: 0.7325
Epoch 8/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5494 - accuracy: 0.7326
Epoch 9/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5488 - accuracy: 0.7324
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5481 - accuracy: 0.7333
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5479 - accuracy: 0.7341
Epoch 12/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5475 - accuracy: 0.7327
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5476 - accuracy: 0.7346
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5471 - accuracy: 0.7336
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5473 - accuracy: 0.7334
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5468 - accuracy: 0.7345
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5460 - accuracy: 0.7346
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5463 - accuracy: 0.7342
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5454 - accuracy: 0.7352
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7352
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5453 - accuracy: 0.7346
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7353
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5444 - accuracy: 0.7356
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5445 - accuracy: 0.7352
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5443 - accuracy: 0.7358
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5449 - accuracy: 0.7334
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5441 - accuracy: 0.7367
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7360
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5439 - accuracy: 0.7358
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5435 - accuracy: 0.7362
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5434 - accuracy: 0.7373
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5435 - accuracy: 0.7361
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5432 - accuracy: 0.7359
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7371
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5428 - accuracy: 0.7365
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5425 - accuracy: 0.7364
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7373
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5425 - accuracy: 0.7372
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5419 - accuracy: 0.7372
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7371
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7374
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5420 - accuracy: 0.7372
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5412 - accuracy: 0.7384
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5419 - accuracy: 0.7371
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7369
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5412 - accuracy: 0.7374
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - accuracy: 0.7374
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5409 - accuracy: 0.7379
Epoch 50/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7374

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5552 - accuracy: 0.7294 - 586ms/epoch - 2ms/step
Loss: 0.5552059412002563, Accuracy: 0.7294460535049438

In [19]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity_Optimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(